#root body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px; }

#root ol, #root ul {
  padding-left: 30px; }

#root .status {
  margin-bottom: 10px; }

#root .kbd-navigation .square:focus {
  background: #ddd; }
